<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="KidegDB" connectionString="Data Source=HP-BEATS\SQLEXPRESS; Initial Catalog=KIDEG; User Id=sa; Password=Thekingof02;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="KideggServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:49167/KideggService.asmx"
        binding="basicHttpBinding" bindingConfiguration="KideggServiceSoap"
        contract="ServiceReferenceKideg.KideggServiceSoap" name="KideggServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>